[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
	ignore = dirty
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
	ignore = dirty
[submodule ".vim/bundle/largefile"]
	path = .vim/bundle/largefile
	url = git@github.com:vim-scripts/LargeFile.git
	ignore = dirty
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:wting/rust.vim.git
	ignore = dirty
[submodule ".vim/bundle/sideways.vim"]
	path = .vim/bundle/sideways.vim
	url = git@github.com:AndrewRadev/sideways.vim.git
	ignore = dirty
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
	ignore = dirty
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
	ignore = dirty
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
	ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
	ignore = dirty
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
	ignore = dirty
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
	ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/bundle/vim-todo"]
	path = .vim/bundle/vim-todo
	url = git@github.com:jmcantrell/vim-todo.git
	ignore = dirty
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
	ignore = dirty
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
	ignore = dirty
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
	ignore = dirty
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
	ignore = dirty
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
	ignore = dirty
