#include ".config/colorschemes/molokai"

urxvt.font: xft:Fantasque Sans Mono:size=13
urxvt.letterSpace: -2

urxvt.saveLines: 8192
urxvt.depth: 32
urxvt.scrollBar: false
urxvt.perl-ext-common: url-select,clipboard,fullscreen,font-size
urxvt.url-select.launcher: google-chrome-unstable
urxvt.url-select.underline: true
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.F11: perl:fullscreen:switch
urxvt.keysym.Control-equal: perl:font-size:increase
urxvt.keysym.Control-minus: perl:font-size:decrease

! disable keycap picture insert mode
urxvt.iso14755: false
urxvt.iso14755_52: false

! urxvtlight*font: xft:Terminus-9:antialias=false
! urxvtlight*depth: 32
! urxvtlight*background: rgba:0200/0200/0200/4000
