! Molokai theme
urxvt.background: #101010
urxvt.foreground: #d0d0d0
urxvt.cursorColor: #d0d0d0
urxvt.color0: #101010
urxvt.color1: #960050
urxvt.color2: #66aa11
urxvt.color3: #c47f2c
urxvt.color4: #30309b
urxvt.color5: #7e40a5
urxvt.color6: #3579a8
urxvt.color7: #9999aa
urxvt.color8: #303030
urxvt.color9: #ff0090
urxvt.color10: #80ff00
urxvt.color11: #ffba68
urxvt.color12: #5f5fee
urxvt.color13: #bb88dd
urxvt.color14: #4eb4fa
urxvt.color15: #d0d0d0

urxvt.font: xft:Fantasque Sans Mono:size=13
urxvt.letterSpace: -2

urxvt.saveLines: 8192
urxvt.depth: 32
urxvt.scrollBar: false
urxvt.perl-ext-common: url-select,clipboard,fullscreen,font-size
urxvt.url-select.launcher: google-chrome-unstable
urxvt.url-select.underline: true
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.F11: perl:fullscreen:switch
urxvt.keysym.Control-equal: perl:font-size:increase
urxvt.keysym.Control-minus: perl:font-size:decrease

! disable keycap picture insert mode
urxvt.iso14755: false
urxvt.iso14755_52: false

! urxvtlight*font: xft:Terminus-9:antialias=false
! urxvtlight*depth: 32
! urxvtlight*background: rgba:0200/0200/0200/4000
