#!/bin/sh
# vim: ft=sh
# bspwmrc template hash: {{ include "dot_config/bspwm/executable_bspwmrc.tmpl" | sha256sum }}
# appearance hash: {{ .appearance | toJson | sha256sum }}

if command -v bspc >/dev/null && bspc wm -g >/dev/null; then
  bspc wm -r
fi
